In [2]:
# 다음의 데이터들을 하나의 DataFrame으로 만들고 (index는 labels) 합격 여부가 yes인 사람과 no인 사람의 수를 출력 하시오. 단, groupby()를 사용해 코드를 작성 하시오.

import pandas as pd
import numpy as np
exam_data = {
    '이름': ['정수현', '윤웅익', '우성호', '김복희', '홍길동', '임꺽정', '이창신', '김완', '최영규', '한범석'],
    '점수': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    '응시횟수': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    '합격여부': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
df.groupby(['합격여부']).size()

합격여부
no     5
yes    5
dtype: int64

In [3]:
# 아래와 같은 두 개의 DataFrame을 만들고 이를 예상결과와 같이 하나로 합치시오.
df1 :
   key1  key2   P   Q
0   K0    K0   P0  Q0
1   K0    K1   P1  Q1
2   K1    K0   P2  Q2
3   K2    K1   P3  Q3
df2:
   key1  key2   R   S
0   K0    K0   R0  S0
1   K1    K0   R1  S1
2   K1    K0   R2  S2
3   K2    K0   R3  S3

   key1  key2   P   Q   R   S
0   K0    K0   P0  Q0  R0  S0
1   K1    K0   P2  Q2  R1  S1
2   K1    K0   P2  Q2  R2  S2

SyntaxError: invalid syntax (3193916276.py, line 2)

In [5]:
import pandas as pd

data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})

merged_data = pd.merge(data1, data2, on=['key1', 'key2'])
print(merged_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2