In [1]:
import pandas as pd

In [4]:
dg_temp = pd.read_csv('daegu.csv', encoding= 'ms949', skiprows=7)

In [5]:
dg_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       30 non-null     object
 1   지점       30 non-null     int64
 2   평균기온(℃)  30 non-null     float64
 3   최저기온(℃)  30 non-null     float64
 4   최고기온(℃)  30 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ KB

In [6]:
dg_temp['날짜'] = dg_temp['날짜'].str.strip()

In [7]:
dg_temp

            날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0   1990-01-01  143      0.1     -3.8      5.1
1   1990-01-02  143      0.7     -1.8      5.3
2   1990-01-03  143     -1.6     -3.9      2.8
3   1990-01-04  143     -0.8     -4.6      5.3
4   1990-01-05  143      3.0     -2.7      8.1
5   1990-01-06  143      1.4     -2.0      4.9
6   1990-01-07  143     -0.6     -6.1      7.3
7   1990-01-08  143      0.2     -5.9      7.9
8   1990-01-09  143      5.1      1.3      9.3
9   1990-01-10  143      7.1      5.0     10.3
10  1990-01-11  143      5.0      0.1      9.4
11  1990-01-12  143      4.2      0.8      7.9
12  1990-01-13  143     -0.1     -3.1      4.1
13  1990-01-14  143     -0.7     -4.5      5.1
14  1990-01-15  143      0.4     -2.1      2.4
15  1990-01-16  143      0.3     -3.9      5.9
16  1990-01-17  143      0.8     -4.4      8.4
17  1990-01-18  143      4.1      1.5      8.1
18  1990-01-19  143      0.7     -4.3      4.1
19  1990-01-20  143     -4.2     -7.9      1.0
20  1990-01-21  143     -3.5     -9.5      3.8
21  1990-01-22  143     -3.3     -9.1      0.4
22  1990-01-23  143     -7.6    -10.5     -2.6
23  1990-01-24  143     -7.9    -10.2     -4.6
24  1990-01-25  143     -8.4    -11.8     -2.8
25  1990-01-26  143     -6.8    -11.6      0.1
26  1990-01-27  143     -4.6    -11.5      4.7
27  1990-01-28  143     -2.6     -8.2      3.6
28  1990-01-29  143      4.4      0.0     10.8
29  1990-01-30  143      2.7      0.6      4.4

In [8]:
dg_temp.columns = ['날짜', '지점', '평균', '최저', '최고']

In [9]:
dg_temp

            날짜   지점   평균    최저    최고
0   1990-01-01  143  0.1  -3.8   5.1
1   1990-01-02  143  0.7  -1.8   5.3
2   1990-01-03  143 -1.6  -3.9   2.8
3   1990-01-04  143 -0.8  -4.6   5.3
4   1990-01-05  143  3.0  -2.7   8.1
5   1990-01-06  143  1.4  -2.0   4.9
6   1990-01-07  143 -0.6  -6.1   7.3
7   1990-01-08  143  0.2  -5.9   7.9
8   1990-01-09  143  5.1   1.3   9.3
9   1990-01-10  143  7.1   5.0  10.3
10  1990-01-11  143  5.0   0.1   9.4
11  1990-01-12  143  4.2   0.8   7.9
12  1990-01-13  143 -0.1  -3.1   4.1
13  1990-01-14  143 -0.7  -4.5   5.1
14  1990-01-15  143  0.4  -2.1   2.4
15  1990-01-16  143  0.3  -3.9   5.9
16  1990-01-17  143  0.8  -4.4   8.4
17  1990-01-18  143  4.1   1.5   8.1
18  1990-01-19  143  0.7  -4.3   4.1
19  1990-01-20  143 -4.2  -7.9   1.0
20  1990-01-21  143 -3.5  -9.5   3.8
21  1990-01-22  143 -3.3  -9.1   0.4
22  1990-01-23  143 -7.6 -10.5  -2.6
23  1990-01-24  143 -7.9 -10.2  -4.6
24  1990-01-25  143 -8.4 -11.8  -2.8
25  1990-01-26  143 -6.8 -11.6   0.1
26  1990-01-27  143 -4.6 -11.5   4.7
27  1990-01-28  143 -2.6  -8.2   3.6
28  1990-01-29  143  4.4   0.0  10.8
29  1990-01-30  143  2.7   0.6   4.4

In [10]:
del dg_temp['지점']

In [11]:
dg_temp.head(2)

           날짜   평균   최저   최고
0  1990-01-01  0.1 -3.8  5.1
1  1990-01-02  0.7 -1.8  5.3

In [1]:
import pandas as pd

In [ ]:
rng = pd.date_range('2025-02-11 14:03', periods=10, freq='B') # busness day
rng

DatetimeIndex(['2025-02-11 14:03:00', '2025-02-12 14:03:00',
               '2025-02-13 14:03:00', '2025-02-14 14:03:00',
               '2025-02-17 14:03:00', '2025-02-18 14:03:00',
               '2025-02-19 14:03:00', '2025-02-20 14:03:00',
               '2025-02-21 14:03:00', '2025-02-24 14:03:00'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
rng = pd.date_range('2025-02-11 14:03', periods=10, freq='H') # 시간 간격
rng

/var/folders/w5/5jlwhb5147q1pkd786zxj_zm0000gn/T/ipykernel_2462/2679270463.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rng = pd.date_range('2025-02-11 14:03', periods=10, freq='H') # busness day

DatetimeIndex(['2025-02-11 14:03:00', '2025-02-11 15:03:00',
               '2025-02-11 16:03:00', '2025-02-11 17:03:00',
               '2025-02-11 18:03:00', '2025-02-11 19:03:00',
               '2025-02-11 20:03:00', '2025-02-11 21:03:00',
               '2025-02-11 22:03:00', '2025-02-11 23:03:00'],
              dtype='datetime64[ns]', freq='h')

In [ ]:
rng = pd.date_range('2025-02-11 14:03', periods=10, freq='ME') # 마지막 날
rng

DatetimeIndex(['2025-02-28 14:03:00', '2025-03-31 14:03:00',
               '2025-04-30 14:03:00', '2025-05-31 14:03:00',
               '2025-06-30 14:03:00', '2025-07-31 14:03:00',
               '2025-08-31 14:03:00', '2025-09-30 14:03:00',
               '2025-10-31 14:03:00', '2025-11-30 14:03:00'],
              dtype='datetime64[ns]', freq='ME')

In [6]:
rng = pd.date_range('2025-02-11 14:03', periods=10, freq='min') # 분 간격
rng

DatetimeIndex(['2025-02-11 14:03:00', '2025-02-11 14:04:00',
               '2025-02-11 14:05:00', '2025-02-11 14:06:00',
               '2025-02-11 14:07:00', '2025-02-11 14:08:00',
               '2025-02-11 14:09:00', '2025-02-11 14:10:00',
               '2025-02-11 14:11:00', '2025-02-11 14:12:00'],
              dtype='datetime64[ns]', freq='min')

In [7]:
rng = pd.date_range('2025-02-11 14:03', periods=10, freq='min', tz='Asia/Seoul') # 시간 간격
rng

DatetimeIndex(['2025-02-11 14:03:00+09:00', '2025-02-11 14:04:00+09:00',
               '2025-02-11 14:05:00+09:00', '2025-02-11 14:06:00+09:00',
               '2025-02-11 14:07:00+09:00', '2025-02-11 14:08:00+09:00',
               '2025-02-11 14:09:00+09:00', '2025-02-11 14:10:00+09:00',
               '2025-02-11 14:11:00+09:00', '2025-02-11 14:12:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='min')

In [11]:
rng.tz_convert('Australia/Sydney')

DatetimeIndex(['2025-02-11 16:03:00+11:00', '2025-02-11 16:04:00+11:00',
               '2025-02-11 16:05:00+11:00', '2025-02-11 16:06:00+11:00',
               '2025-02-11 16:07:00+11:00', '2025-02-11 16:08:00+11:00',
               '2025-02-11 16:09:00+11:00', '2025-02-11 16:10:00+11:00',
               '2025-02-11 16:11:00+11:00', '2025-02-11 16:12:00+11:00'],
              dtype='datetime64[ns, Australia/Sydney]', freq='min')

In [15]:
# 문자열 -> 날짜 타입
date_data = ['07/07/2023','07/18/2023','07/09/2023']

In [16]:
pd.to_datetime(date_data)

DatetimeIndex(['2023-07-07', '2023-07-18', '2023-07-09'], dtype='datetime64[ns]', freq=None)

In [ ]:
# 미국시 : mm/dd/yyyy
# 유럽식 : dd/mm/yyyy
pd.to_datetime(date_data,dayfirst=True, format='mixed') # 안되는건 무시

DatetimeIndex(['2023-07-07', '2023-07-18', '2023-09-07'], dtype='datetime64[ns]', freq=None)

In [ ]:
# 각 연도별로 최고 기온 최저기온 
dg_temp_an