In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6]])

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
df.sort_index(axis=0, ascending=False)

   0  1  2
1  4  5  6
0  1  2  3

In [ ]:
df.sort_values(axis=0 ,by=2)
df[1] # 열 선택 리스트와 다름 (시리즈가 됨)

0    2
1    5
Name: 1, dtype: int64

In [24]:
df[0:1] # 슬라이싱 행 마지막 포함 X 문자열은 포함

   0  1  2
0  1  2  3

In [30]:
# df.loc[1] # 열선택
# df.loc[:,[0]]
df.at[:,[0]]

TypeError: unhashable type: 'list'

In [ ]:
df.iloc[1] # 행선택 위치

0    4
1    5
2    6
Name: 1, dtype: int64

In [ ]:
df.isin() # 있는것만 선택

TypeError: only list-like or dict-like objects are allowed to be passed to DataFrame.isin(), you passed a 'int'