In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.Series([1,2,6,7,np.nan])

0    1.0
1    2.0
2    6.0
3    7.0
4    NaN
dtype: float64

In [4]:
datas = pd.date_range('20250101', periods=10)

In [5]:
datas

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(10,4), index=datas, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2025-01-01  0.699224 -0.461711 -0.234968 -1.345556
2025-01-02 -0.051214  0.643925  0.850474  0.985476
2025-01-03 -0.506754  0.233068 -1.732457  0.153569
2025-01-04  0.488234 -1.340350 -0.241041  1.073067
2025-01-05 -0.551811 -0.304831 -0.741477  1.077628
2025-01-06 -0.830621  0.689551 -0.676930  1.264728
2025-01-07  1.257720 -1.322001  1.758200 -1.170407
2025-01-08  0.705155  0.719022  0.456983  0.521585
2025-01-09 -0.438337 -0.220466 -0.658636 -1.844779
2025-01-10 -0.568419  2.654237 -0.549296 -1.280218

In [12]:
df = pd.DataFrame({'A':1.,
                   'B' : pd.Timestamp('20240101'),
                   'C' : pd.Series(1, index=(range(4)), dtype='float32')})

In [13]:
df

     A          B    C
0  1.0 2024-01-01  1.0
1  1.0 2024-01-01  1.0
2  1.0 2024-01-01  1.0
3  1.0 2024-01-01  1.0

In [15]:
df.dtypes

A          float64
B    datetime64[s]
C          float32
dtype: object

In [18]:
pd.Series([1,2,6,7,np.nan]) # 시리즈 생성
df = pd.DataFrame({'A':1.,
                   'B' : pd.Timestamp('20240101'),
                   'C' : pd.Series(1, index=(range(4)), dtype='float32')}) # 데이터 프레임 생성
datas = pd.date_range('20250101', periods=10) 
df.index # 인덱스 값 보기
df.columns # 열 값 보기
df.to_numpy # numpy로 바꾸기 같은 타입으로 이루어져있어야함
df.describe() # 통계정보
df.T # 전치행렬 구하기

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2024-01-01 00:00:00,2024-01-01 00:00:00,2024-01-01 00:00:00,2024-01-01 00:00:00
C,1.0,1.0,1.0,1.0

In [22]:
df = pd.DataFrame({'A':1.,
                   'B' : pd.Timestamp('20240101'),
                   'C' : pd.Series(1, index=(range(4)), dtype='float32')}) # 데이터 프레임 생성

In [24]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
df

     A          B    C
0  1.0 2024-01-01  1.0
1  1.0 2024-01-01  1.0
2  1.0 2024-01-01  1.0
3  1.0 2024-01-01  1.0

In [26]:
df.columns

Index(['A', 'B', 'C'], dtype='object')