In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6]])

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
df.sort_index(axis=0, ascending=False)

   0  1  2
1  4  5  6
0  1  2  3

In [ ]:
df.sort_values(axis=0 ,by=2)
df[1] # 열 선택 리스트와 다름 (시리즈가 됨)

0    2
1    5
Name: 1, dtype: int64

In [24]:
df[0:1] # 슬라이싱 행 마지막 포함 X 문자열은 포함

   0  1  2
0  1  2  3

In [30]:
# df.loc[1] # 열선택
# df.loc[:,[0]]
df.at[:,[0]]

TypeError: unhashable type: 'list'

In [ ]:
df.iloc[1] # 행선택 위치

0    4
1    5
2    6
Name: 1, dtype: int64

In [ ]:
df.isin() # 있는것만 선택

TypeError: only list-like or dict-like objects are allowed to be passed to DataFrame.isin(), you passed a 'int'

In [5]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3))

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
df.sort_index(axis=1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df.sort_index(axis=0,ascending=False)

   0  1  2
2  7  8  9
1  4  5  6
0  1  2  3

In [16]:
df.sort_values(axis=1, by=2, ascending=False)

   2  1  0
0  3  2  1
1  6  5  4
2  9  8  7

In [17]:
df[df[0].isin(1)]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a `int`

In [18]:
df = pd.DataFrame([["a","b","c","d"],["e","f","g","i"]])

In [19]:
df

   0  1  2  3
0  a  b  c  d
1  e  f  g  i

In [25]:
df[df[0].isin(["a"])]

   0  1  2  3
0  a  b  c  d

In [26]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

In [27]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [28]:
df['F'] = s1

In [29]:
df

   0  1  2  3   F
0  a  b  c  d NaN
1  e  f  g  i NaN

In [36]:
df = pd.DataFrame(np.random.randn(100).reshape(10,10))

In [37]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.717503,-0.488554,0.783252,0.712187,0.400308,-0.191661,-0.276673,1.855756,-0.044574,-0.046034
1,0.252787,0.897021,1.336254,-0.149405,1.803701,-0.421496,0.474968,-0.957520,1.348191,0.466216
2,0.027580,-0.411031,1.924644,1.199540,-0.427012,0.356543,-0.774900,1.255787,-0.540746,0.984062
3,0.096511,1.305381,-0.541171,-0.804301,-0.374380,-0.412851,0.732868,-1.486380,1.437835,-0.411500
4,-0.198463,0.475624,-0.436763,-1.604456,0.530257,0.618999,-0.584232,-0.043320,0.407228,0.612620
5,0.237121,0.430976,-0.430582,0.351730,0.298499,0.785800,0.707238,-0.800551,0.968885,-2.111134
6,-0.417579,0.799633,-0.397076,-0.569707,-0.465687,-0.422882,0.363506,-1.451397,1.542607,0.888208
7,-0.972079,-0.202029,-0.818334,-1.804743,1.371844,-2.368315,0.664432,-0.689389,2.218382,0.509782
8,0.055317,-0.395187,-1.827194,0.431708,0.384554,1.046452,0.414082,0.183732,-0.513719,0.009157
9,-0.946887,0.958146,-0.642444,1.403724,-0.810373,-2.380973,0.129244,0.687423,0.277455,0.318206

In [ ]:
df.iloc[0][0] = np.nan

/var/folders/w5/5jlwhb5147q1pkd786zxj_zm0000gn/T/ipykernel_36137/1386528765.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][0] = np.nan

In [39]:
df

,0,1,2,3,4,5,6,7,8,9
0,NaN,-0.488554,0.783252,0.712187,0.400308,-0.191661,-0.276673,1.855756,-0.044574,-0.046034
1,0.252787,0.897021,1.336254,-0.149405,1.803701,-0.421496,0.474968,-0.957520,1.348191,0.466216
2,0.027580,-0.411031,1.924644,1.199540,-0.427012,0.356543,-0.774900,1.255787,-0.540746,0.984062
3,0.096511,1.305381,-0.541171,-0.804301,-0.374380,-0.412851,0.732868,-1.486380,1.437835,-0.411500
4,-0.198463,0.475624,-0.436763,-1.604456,0.530257,0.618999,-0.584232,-0.043320,0.407228,0.612620
5,0.237121,0.430976,-0.430582,0.351730,0.298499,0.785800,0.707238,-0.800551,0.968885,-2.111134
6,-0.417579,0.799633,-0.397076,-0.569707,-0.465687,-0.422882,0.363506,-1.451397,1.542607,0.888208
7,-0.972079,-0.202029,-0.818334,-1.804743,1.371844,-2.368315,0.664432,-0.689389,2.218382,0.509782
8,0.055317,-0.395187,-1.827194,0.431708,0.384554,1.046452,0.414082,0.183732,-0.513719,0.009157
9,-0.946887,0.958146,-0.642444,1.403724,-0.810373,-2.380973,0.129244,0.687423,0.277455,0.318206

In [40]:
df.dropna()

,0,1,2,3,4,5,6,7,8,9
1,0.252787,0.897021,1.336254,-0.149405,1.803701,-0.421496,0.474968,-0.957520,1.348191,0.466216
2,0.027580,-0.411031,1.924644,1.199540,-0.427012,0.356543,-0.774900,1.255787,-0.540746,0.984062
3,0.096511,1.305381,-0.541171,-0.804301,-0.374380,-0.412851,0.732868,-1.486380,1.437835,-0.411500
4,-0.198463,0.475624,-0.436763,-1.604456,0.530257,0.618999,-0.584232,-0.043320,0.407228,0.612620
5,0.237121,0.430976,-0.430582,0.351730,0.298499,0.785800,0.707238,-0.800551,0.968885,-2.111134
6,-0.417579,0.799633,-0.397076,-0.569707,-0.465687,-0.422882,0.363506,-1.451397,1.542607,0.888208
7,-0.972079,-0.202029,-0.818334,-1.804743,1.371844,-2.368315,0.664432,-0.689389,2.218382,0.509782
8,0.055317,-0.395187,-1.827194,0.431708,0.384554,1.046452,0.414082,0.183732,-0.513719,0.009157
9,-0.946887,0.958146,-0.642444,1.403724,-0.810373,-2.380973,0.129244,0.687423,0.277455,0.318206

In [41]:
df

,0,1,2,3,4,5,6,7,8,9
0,NaN,-0.488554,0.783252,0.712187,0.400308,-0.191661,-0.276673,1.855756,-0.044574,-0.046034
1,0.252787,0.897021,1.336254,-0.149405,1.803701,-0.421496,0.474968,-0.957520,1.348191,0.466216
2,0.027580,-0.411031,1.924644,1.199540,-0.427012,0.356543,-0.774900,1.255787,-0.540746,0.984062
3,0.096511,1.305381,-0.541171,-0.804301,-0.374380,-0.412851,0.732868,-1.486380,1.437835,-0.411500
4,-0.198463,0.475624,-0.436763,-1.604456,0.530257,0.618999,-0.584232,-0.043320,0.407228,0.612620
5,0.237121,0.430976,-0.430582,0.351730,0.298499,0.785800,0.707238,-0.800551,0.968885,-2.111134
6,-0.417579,0.799633,-0.397076,-0.569707,-0.465687,-0.422882,0.363506,-1.451397,1.542607,0.888208
7,-0.972079,-0.202029,-0.818334,-1.804743,1.371844,-2.368315,0.664432,-0.689389,2.218382,0.509782
8,0.055317,-0.395187,-1.827194,0.431708,0.384554,1.046452,0.414082,0.183732,-0.513719,0.009157
9,-0.946887,0.958146,-0.642444,1.403724,-0.810373,-2.380973,0.129244,0.687423,0.277455,0.318206

In [42]:
df.fillna(1)

,0,1,2,3,4,5,6,7,8,9
0,1.000000,-0.488554,0.783252,0.712187,0.400308,-0.191661,-0.276673,1.855756,-0.044574,-0.046034
1,0.252787,0.897021,1.336254,-0.149405,1.803701,-0.421496,0.474968,-0.957520,1.348191,0.466216
2,0.027580,-0.411031,1.924644,1.199540,-0.427012,0.356543,-0.774900,1.255787,-0.540746,0.984062
3,0.096511,1.305381,-0.541171,-0.804301,-0.374380,-0.412851,0.732868,-1.486380,1.437835,-0.411500
4,-0.198463,0.475624,-0.436763,-1.604456,0.530257,0.618999,-0.584232,-0.043320,0.407228,0.612620
5,0.237121,0.430976,-0.430582,0.351730,0.298499,0.785800,0.707238,-0.800551,0.968885,-2.111134
6,-0.417579,0.799633,-0.397076,-0.569707,-0.465687,-0.422882,0.363506,-1.451397,1.542607,0.888208
7,-0.972079,-0.202029,-0.818334,-1.804743,1.371844,-2.368315,0.664432,-0.689389,2.218382,0.509782
8,0.055317,-0.395187,-1.827194,0.431708,0.384554,1.046452,0.414082,0.183732,-0.513719,0.009157
9,-0.946887,0.958146,-0.642444,1.403724,-0.810373,-2.380973,0.129244,0.687423,0.277455,0.318206

In [46]:
df = df.reindex(index=list("abcdefghij"))

In [47]:
df

    0   1   2   3   4   5   6   7   8   9
a NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
f NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
g NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
h NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
i NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
j NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [ ]:
df = df.fillna(np.random.randn(), inplace=)

In [53]:
pd.isna(df)

       0      1      2      3      4      5      6      7      8      9
a  False  False  False  False  False  False  False  False  False  False
b  False  False  False  False  False  False  False  False  False  False
c  False  False  False  False  False  False  False  False  False  False
d  False  False  False  False  False  False  False  False  False  False
e  False  False  False  False  False  False  False  False  False  False
f  False  False  False  False  False  False  False  False  False  False
g  False  False  False  False  False  False  False  False  False  False
h  False  False  False  False  False  False  False  False  False  False
i  False  False  False  False  False  False  False  False  False  False
j  False  False  False  False  False  False  False  False  False  False

In [52]:
df

,0,1,2,3,4,5,6,7,8,9
a,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
b,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
c,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
d,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
e,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
f,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
g,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
h,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
i,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988
j,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988,-0.435988