In [ ]:
groupby(기준).sum

df.to_csv(파일이름) : 저장
read_csv
excel 도 동일 하지만 sheet_name 지정'

In [ ]:
- index_col : 행의 label로 사용할 열의 위치 (기본 None)
- na_values : NA/NaN으로 인식될 추가적인 문자열

In [2]:
import pandas as pd
import numpy as np
exam_data = {
    '이름': ['정수현', '윤웅익', '우성호', '김복희', '홍길동', '임꺽정', '이창신', '김완', '최영규', '한범석'],
    '점수': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    '응시횟수': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    '합격여부': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [3]:
df = pd.DataFrame(exam_data, index=labels)

In [4]:
df

    이름    점수  응시횟수 합격여부
a  정수현  12.5     1  yes
b  윤웅익   9.0     3   no
c  우성호  16.5     2  yes
d  김복희   NaN     3   no
e  홍길동   9.0     2   no
f  임꺽정  20.0     3  yes
g  이창신  14.5     1  yes
h   김완   NaN     1   no
i  최영규   8.0     2   no
j  한범석  19.0     1  yes

In [8]:
df['합격여부'].value_counts(1)

합격여부
yes    0.5
no     0.5
Name: proportion, dtype: float64

In [13]:
df.groupby(['합격여부']).size()

합격여부
no     5
yes    5
dtype: int64