In [2]:
import pandas as pd
import numpy as np

In [3]:
t1 = (1,2,3,4)

In [4]:
s = pd.Series(t1)

In [6]:
t1

(1, 2, 3, 4)

In [7]:
t2 = ('YU', 1.23,2005,'2025-12-25')

In [8]:
s2 = pd.Series(t2)

In [9]:
s2

0            YU
1          1.23
2          2005
3    2025-12-25
dtype: object

In [10]:
s2[0]

'YU'

In [ ]:
type(s2[1]) # object 동종 타입

float

In [12]:
d1 = {'이름' : '홍길동', '국어' : 98, '수학':76}

In [13]:
s3 = pd.Series(d1)

In [14]:
s3

이름    홍길동
국어     98
수학     76
dtype: object

In [16]:
s3.국어

98

In [19]:
s3['국어']

98

In [20]:
s3

이름    홍길동
국어     98
수학     76
dtype: object

In [21]:
data1 = { 'name' : ['김가가', '박나나', '이구국'], 'birth' : ['2013-09-09', '2013-34-23', '2453-42-34']}

In [ ]:
import numpy as np
import pandas as pd

exam_data = {
    '이름': ['정수현', '윤웅익', '우성호', '김복희', '홍길동', '임꺽정', '이창신', '김완', '최영규', '한범석'],
    '점수': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    '응시횟수': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    '합격여부': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print(df)