In [3]:
df.mean # 열

NameError: name 'df' is not defined

In [4]:
df.mean(1) # 열 방향으로 올라가면서 평균을 구함

NameError: name 'df' is not defined

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [12]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=['2025-01-01','2025-01-01','2025-01-01','2025-01-01','2025-01-01','2025-01-01']).shift(2)

In [11]:
df.sub # 각 데이터에 대해 전부 연산 모양이 달라도 브로드캐스팅 떄문에 가능
df.apply(다른 함수의 이름) : 데이터에 함수 적용

SyntaxError: invalid syntax. Perhaps you forgot a comma? (605874106.py, line 2)

In [13]:
s.value_count() # : 분포를 계산할 수 있음

AttributeError: 'Series' object has no attribute 'value_count'

In [14]:
s

2025-01-01    NaN
2025-01-01    NaN
2025-01-01    1.0
2025-01-01    3.0
2025-01-01    5.0
2025-01-01    NaN
dtype: float64

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [16]:
s.value_counts

<bound method IndexOpsMixin.value_counts of 0    2
1    5
2    1
3    3
4    4
5    0
6    5
7    0
8    6
9    4
dtype: int64>

In [ ]:
str.lower()
pd.concat(조각들) axix 있고 합치는 함수

pd.merge(left,right, on=)