In [1]:
import pandas as pd
import numpy as np

In [2]:
casts = pd.read_csv('cast.csv')

In [3]:
casts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75001 entries, 0 to 75000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      75000 non-null  object
 1   year       75001 non-null  int64
 2   name       75001 non-null  object
 3   type       75001 non-null  object
 4   character  75001 non-null  object
 5   n          46035 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.4+ MB

In [4]:
# 결측치, 결측값
# fillna, drpna
casts.n

0        31.0
1        22.0
2        10.0
3         NaN
4         NaN
         ...
74996    11.0
74997     NaN
74998    20.0
74999     NaN
75000    25.0
Name: n, Length: 75001, dtype: float64

In [ ]:
casts['n'].isnull() # 각각의 값에서 널값 확인

0        False
1        False
2        False
3         True
4         True
         ...
74996    False
74997     True
74998    False
74999     True
75000    False
Name: n, Length: 75001, dtype: bool

In [7]:
casts[casts['n'].isnull()]

,title,year,name,type,character,n
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
...,...,...,...,...,...,...
74984,Ovum,2015,Christina Rosas Anastasiou,actress,Fertility Clinic Receptionist,NaN
74985,7 avlu,2009,Evmorfia Anastasiou,actress,Eleni,NaN
74993,I teliki apopliromi,2013,Mara Anastasopoulou,actress,Marina's friend,NaN
74997,The Magician King,2004,Tiannah Anastassiades,actress,Unicycle Race Attendant,NaN
74999,Toxic Tutu,2016,Zoe Anastassiou,actress,Demon of Toxicity,NaN

In [8]:
casts[casts['n'].notnull()]

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
...,...,...,...,...,...,...
74994,180 moires,2010,Penelope Anastasopoulou,actress,Korina,6.0
74995,Ama de se thelei,2009,Penelope Anastasopoulou,actress,Dimitra,1.0
74996,Mia fora kai ena... moro,2011,Penelope Anastasopoulou,actress,Popi voulkanizater,11.0
74998,Festival of Lights,2010,Zoe Anastassiou,actress,Guidance Counselor,20.0
75000,Fugitive Pieces,2007,Anastassia Anastassopoulou,actress,Laundry Girl,25.0

In [12]:
casts.dropna(axis=1)

       year                        name     type                character
0      2015                    Buffy #1    actor                  Buffy 4
1      1985                      Homo $    actor                   Guests
2      2017                     $hutter    actor          Bobby Riggs Fan
3      2015                     $hutter    actor          2002 Dodger Fan
4      2015                     $hutter    actor  1988 Opera House Patron
...     ...                         ...      ...                      ...
74996  2011     Penelope Anastasopoulou  actress       Popi voulkanizater
74997  2004       Tiannah Anastassiades  actress  Unicycle Race Attendant
74998  2010             Zoe Anastassiou  actress       Guidance Counselor
74999  2016             Zoe Anastassiou  actress        Demon of Toxicity
75000  2007  Anastassia Anastassopoulou  actress             Laundry Girl

[75001 rows x 4 columns]

In [13]:
casts.fillna('없음')

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,없음
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,없음
...,...,...,...,...,...,...
74996,Mia fora kai ena... moro,2011,Penelope Anastasopoulou,actress,Popi voulkanizater,11.0
74997,The Magician King,2004,Tiannah Anastassiades,actress,Unicycle Race Attendant,없음
74998,Festival of Lights,2010,Zoe Anastassiou,actress,Guidance Counselor,20.0
74999,Toxic Tutu,2016,Zoe Anastassiou,actress,Demon of Toxicity,없음
75000,Fugitive Pieces,2007,Anastassia Anastassopoulou,actress,Laundry Girl,25.0

In [15]:
casts.n.fillna(method='ffill')

/var/folders/w5/5jlwhb5147q1pkd786zxj_zm0000gn/T/ipykernel_32805/1072772480.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casts.n.fillna(method='ffill')

0        31.0
1        22.0
2        10.0
3        10.0
4        10.0
         ...
74996    11.0
74997    11.0
74998    20.0
74999    20.0
75000    25.0
Name: n, Length: 75001, dtype: float64

In [16]:
casts.n.ffill()

0        31.0
1        22.0
2        10.0
3        10.0
4        10.0
         ...
74996    11.0
74997    11.0
74998    20.0
74999    20.0
75000    25.0
Name: n, Length: 75001, dtype: float64

In [17]:
casts.n.mean()

np.float64(16.814358640165093)

In [18]:
casts['n'].fillna(casts['n'].mean() / 2, inplace=True
                  )

In [19]:
casts.head(5)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.000000
1,Suuri illusioni,1985,Homo $,actor,Guests,22.000000
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.000000
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,8.407179
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,8.407179

In [22]:
casts.dropna(inplace=True)

In [ ]:
# casts에서 영화제목 Maa로 시작하는 것을 모두 선택
ex_title = 'Maa dfa asdf afds'
'Maa' in ex_title # 맨앞이 아님

True

In [24]:
ex_title.startswith('Maa')

True

In [27]:
casts.title.str.startswith('Maa')

0        False
1        False
2        False
3        False
4        False
         ...
74996    False
74997    False
74998    False
74999    False
75000    False
Name: title, Length: 75000, dtype: bool

In [28]:
casts[casts.title.str.startswith('Maa')]

,title,year,name,type,character,n
1489,Maaro,2011,Abbas (VIII),actor,Second Hero,8.407179
6695,Maarek hob,2004,Robert Abyad,actor,Cr?ancier 1,8.407179
17319,Maalik,2016,Farhan Ally Agha,actor,Major Haider,2.000000
21678,Maa on syntinen laulu,1973,Niiles-Jouni Aikio,actor,Oula,6.000000
21680,Maa on syntinen laulu,1973,Uula Aikio,actor,Oulan is?,25.000000
22667,Maan Gaye Ustaad,1981,Ajit,actor,Jaikishan 'J.K.',8.407179
22986,Maa kap Phra,2006,Pisan Akaraseni,actor,Chief Yot,8.407179
32315,Maathi Yosi,2010,Alex (CXIV),actor,Onaan,8.407179
32429,Maad Dad,2013,Lalu Alex,actor,Soda Mathan (Bony's Dad),8.407179
37445,Maala Yogam,1990,Aliyar,actor,Priest,8.407179
45518,Maa Nanna Chiranjeevi,2010,Alutit,actor,Vishwanath,8.407179
50944,Maarek hob,2004,Colette Abboud,actress,Jeune au soleil,8.407179
56912,Maalaala mo kaya: The Movie,1994,Melai Adriano,actress,Japayuki,25.000000
57718,Maari,2015,Kajal Aggarwal,actress,Sridevi,2.000000
57719,Maattrraan,2012,Kajal Aggarwal,actress,Anjali,2.000000
59186,Maa on syntinen laulu,1973,Maija-Liisa Ahlgren,actress,Aino Liinukorpi,10.000000
61117,Maami,2011,Funke Akindele,actress,Maami,1.000000
61636,Maarek hob,2004,Sylva Al Chad,actress,Cousine,8.407179
69092,Maangamizi: The Ancient One,2001,Ummie Mahfouda Alley,actress,Patient,8.407179
74821,Maanini,1979,Sujata Anand,actress,Nirmala,3.000000

In [29]:
casts[casts['title'].str.contains('Star')]

,title,year,name,type,character,n
263,Porn Star Zombies,2009,A.J. (XV),actor,Trinity,6.000000
481,Bob Hope's All-Star Look at TV's Prime Time Wars,1980,Willie Aames,actor,Himself,8.407179
482,Dickie Roberts: Former Child Star,2003,Willie Aames,actor,Willie Aames,64.000000
1905,The Last Starfighter,1984,Bruce Abbott,actor,Rylan Sargent,8.407179
1978,Starry Night,1999,David Abbott,actor,Vincent Van Gogh,1.000000
...,...,...,...,...,...,...
72735,Starship Valiant: The Ties That Bind,2017,Shirley Amauric,actress,Parker,8.407179
73046,Starting Out in the Evening,2007,Lauren Ambrose,actress,Heather Wolfe,2.000000
73053,Cultivision (Collapsing Stars),2002,Monica Ambrose,actress,Monica Commons,2.000000
73063,Starsky & Hutch,2004,Tangie Ambrose,actress,Kiki,39.000000
73158,The North Star,2016,Amee,actress,Saloon singer,8.407179

In [30]:
casts.year.value_counts()

year
2016    3841
2015    3438
2014    3309
2013    3110
2012    3011
        ...
2019      16
1913      10
2020       4
1912       3
2023       3
Name: count, Length: 110, dtype: int64